*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppings', sans-serif;
    background: black;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container{
    background: rgba(225, 255, 255, 0.08);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 400px;
    text-align: center;
    min-height: 60%;
}

#heading{
    font-size: clamp(1.5rem, 4vw, 2rem);
    margin-bottom: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
}

#search-box{
    display: flex;
}

#input-el{
    width: 80%;
    padding: 0.75rem;
    font-size: clamp(0.9rem, 2vw, 1rem);
    border: none;
    border-radius: 6px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.15);
    color: #fff;
    transition: all 0.3s ease;
}

#button-el{
    width: 80px;
    height: 40px;
    border-radius: 6px;
    border: none;
    margin-left: 10px;
    background: rgba(225, 255, 255, 0.08);
    color: white;
    cursor: pointer;
}

.complete-btn{
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background: rgba(0, 255, 0, 0.2);
    color: #fff;
    font-size: 1rem;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#list li {
    background: rgba(255, 255, 255, 0.1);
    margin: 0.5rem 0;
    border-radius: 6px;
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

#list li:hover {
    background: rgba(255, 255, 255, 0.2);
}
